img{
    border-radius: 50%;
    width: 250px;
}

form{
    padding: 50px;
    border-radius: 20px;
}
.body{
    text-align: center;
}

a{
    float: right;
    /* background-color: ; */
}
.container{
    float: right;
}
h2, .rep{
    text-align: center;
}
p{
    color: white;
}