.search{
    background-image: url("../assets/photo-1.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  h1, .git{
    color: white;
    font-family: 'Yesteryear', cursive, serif;
    text-align: center;
  }

  app-profile{
      color: white;
  }