img{
    border-radius: 50%;
    width: 250px;
}

form{
    padding: 50px;
    border-radius: 20px;
}
.body{
    text-align: center;
}

a{
    float: right;
    background-color: blueviolet;
}
.container{
    float: right;
}
h2, .rep{
    text-align: center;
}
.repo{
    float: left;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    color: white;
    text-align: center;
}
.git2{
    float: right;
    width: 200px;
    height: 40px;
    border-radius: 20px;
    color: white;
    text-align: center;
    margin: 5px;
}
.name{
    text-transform: uppercase;
}
.description{
    text-align: center;
}
